<div class="ui container">
  <h2 class="ui header">
      <img class="ui medium circular image" src="assets/images/daniel.jpg">
      <div class="content" style="color: #fff; font-weight: bold;">
          SIMILARITY FEATURE
      </div>
  </h2>
  <div class="slide-similarity">


    <div class="ui special cards">
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <h2 class="ui inverted header">ATTACK ON TITAN</h2>
                <div class="ui primary button">WATCH NOW</div>
                <h5 style="color: #1c1c1c">Hundreds of years ago, humanity was nearly exterminated by giant, naked mannequin-esque creatures with a taste for human meat. The remaining survivors built a city within extremely high walls to stay alive and there they were safe for over a hundred years. But out of nowhere, a Colossal Titan emerges again and attacks the city! It is up to Eren, Mikasa, Erwin, Levi, Hanji, Sasha, Armin, and the rest of the squad to keep the city safe and fend off the Titans. Also, will they ever find out what’s in that basement?</h5>
              </div>
            </div>
          </div>
          <img src="assets/images/collaborative/1.jpg" class="ui medium image">
        </div>
        <div class="content" style="background-color: #383636; color: #fff;">
          <div class="center">
            Attack on Titan
          </div>
        </div>
      </div>
    </div>


    <div class="ui special cards">
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <h2 class="ui inverted header">AFTERMATH</h2>
                <div class="ui primary button">WATCH NOW</div>
                <h5 style="color: #1c1c1c">When civilization reaches its apocalyptic end, the Copeland family survives the end of the world as they know it, but what will the new world be like? Turns out it's scary, with supernatural creatures, massive storms and a plague among the things that the Copelands must deal with while facing the rapid decline of the new civilization around them. Patriarch Joshua's study of world cultures comes in handy when he has to help his family survive in the new world as wife Karen, a former Air Force pilot, draws upon her combat skills and survival training to protect her loved ones.</h5>
              </div>
            </div>
          </div>
          <img src="assets/images/last-action/aftermath.jpg" class="ui medium image">
        </div>
        <div class="content" style="background-color: #383636; color: #fff;">
          <div class="center">
            AFTERMATH
          </div>
        </div>
      </div>
    </div>



    <div class="ui special cards">
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <h2 class="ui inverted header">Katy Perry</h2>
                <div class="ui primary button">WATCH NOW</div>
                <h5 style="color:#1c1c1c;">Filmmakers Dan Cutforth and Jane Lipsitz follow wildly popular singer Katy Perry during her yearlong California Dreams tour. During 124 sold-out shows in arenas around the world, the constant camera presence creates both a front-row seat and a backstage pass as Perry performs for thousands of fans, then returns to the reality of her everyday life. Interviews with family and friends complete the picture, as Perry gives her all onstage, then faces the pressing personal challenges that await.</h5>
              </div>
            </div>
          </div>
          <img src="assets/images/last-action/katy.jpg" class="ui medium image">
        </div>
        <div class="content" style="background-color: #383636; color: #fff;">
          <div class="center">
            Katy Perry
          </div>
        </div>
      </div>
    </div>

    <div class="ui special cards">
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <h2 class="ui inverted header">ARROW</h2>
                <div class="ui primary button">WATCH NOW</div>
                <h5 style="color: #1c1c1c">Arrow follows the story of billionaire playboy Oliver Queen, who, five years after being stranded on a hostile island, returns home to fight crime and corruption as a secret vigilante whose weapon of choice is a bow and arrow. Together with Felicity and the rest of Team Arrow, Oliver works to right the wrongs of his family and restore the city to its former glory. Go #TeamOlicity!</h5>
              </div>
            </div>
          </div>
          <img src="assets/images/last-action/arrow.jpg" class="ui medium image">
        </div>
        <div class="content" style="background-color: #383636; color: #fff;">
          <div class="center">
            ARROW
          </div>
        </div>
      </div>
    </div>

    <div class="ui special cards">
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <h2 class="ui inverted header">AO HARU RIDE</h2>
                <div class="ui primary button">WATCH NOW</div>
                <h5 style="color:#1c1c1c;">Futaba and Koh were classmates in their junior high school and were attracted to each other. However, Koh moved to some other town suddenly, leaving Futaba alone and heartbroken. 3 years from then, they meet again in the same high school by chance, but Futaba gets a shock finding a totally different character in him. Gradually, she realizes that although he apparently takes a dismissive attitude toward her, he was still kind as he was and that his real character hadn’t been changed.  She, again, falls in love with him, but things does not proceed so easily.</h5>
              </div>
            </div>
          </div>
          <img src="assets/images/last-action/Ao Haru Ride.jpg" class="ui medium image">
        </div>
        <div class="content" style="background-color: #383636; color: #fff;">
          <div class="center">
            AO HARU RIDE
          </div>
        </div>
      </div>
    </div>

    <div class="ui special cards">
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <h2 class="ui inverted header">REAL STEEL</h2>
                <div class="ui primary button">WATCH NOW</div>
                <h5 style="color: #1c1c1c">
                  Charlie Kenton (Hugh Jackman) used to be a prizefighter but lost his chance to win a title when heavy, towering robots took over the boxing ring.
                </h5>
              </div>
            </div>
          </div>
          <img src="assets/images/last-action/real still.jpg" class="ui medium image">
        </div>
        <div class="content" style="background-color: #383636; color: #fff;">
          <div class="center">
            REAL STEEL
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
