<body>
<div class="imageSlider" style="background-color: #1c1c1c;">
  <div style="background-color: #1c1c1c; background: transparent">
    <a href="#">
        <img src="assets/images/mainview/1.jpg">
    </a>
  </div>
  <div style="background-color: #1c1c1c; background: transparent">
    <a href="#">
        <img src="assets/images/mainview/2.jpg">
    </a>
  </div>
  <div style="background-color: #1c1c1c; background: transparent">
    <a href="#">
        <img src="assets/images/mainview/3.jpg">
    </a>
  </div>
  <div style="background-color: #1c1c1c; background: transparent">
    <a href="#">
        <img src="assets/images/mainview/4.jpg">
    </a>
  </div>
</div>
</body>
