.poster{
    max-width: 300px;
    max-height: 500px
}
.title{
    color: white;
    font-size: 50px;
}
.description{
    font-size: 18px;
    color: white;
}
.detail{
    margin-left: 20px;
}
.main{
    margin-top: 50px;
}
.info span{
    font-size: 25px;
    padding: 0px;
    color: white;
}
.info-k{
    color: white;
    word-wrap: break-word;
}
/* border-left: solid 1px rgba(255, 255, 255, 0.2); */
.info-i:not(:first-child)::before {
    content: "|"
}